<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

    <link rel="stylesheet" href="{{ "/stylesheets/styles.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/stylesheets/pygment_trac.css" | prepend: site.baseurl }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
        <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
  </head>

  <body>
    <div class="wrapper">
      <header>
        <h1>Amplifier</h1>
        <p>2014 project </p>

        <div><a class="page-link" href="{{ index | prepend: site.baseurl }}">Home</a></div>
        {% for page in site.pages %}
          {% if page.title %}
        <div><a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></div>
          {% endif %}
        {% endfor %}
        </p>

        <!-- <p class="view"><a href="https://github.com/gregjolley/amplifier">View the Project on GitHub <small>gregjolley/amplifier</small></a></p> -->

        <img src="/images/IMG_0015.JPG" alt="Amplifier">

        <!-- <ul> -->
        <!--   <li><a href="https://github.com/gregjolley/amplifier/zipball/master">Download <strong>ZIP File</strong></a></li> -->
        <!--   <li><a href="https://github.com/gregjolley/amplifier/tarball/master">Download <strong>TAR Ball</strong></a></li> -->
        <!--   <li><a href="https://github.com/gregjolley/amplifier">View On <strong>GitHub</strong></a></li> -->
        <!-- </ul> -->

      </header>
      <section>

{{ content }}

      </section>
      <footer>
      <p><small>Hosted on GitHub Pages &mdash; This project is maintained by <a href="https://github.com/gregjolley">Greg Jolley</a></small></p>
      </footer>
    </div>
    <script src="javascripts/scale.fix.js"></script>

  </body>
</html>
